
/* fix to force column to work */
#NeocpAsteroidsTable .controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}
#NeocpAsteroidsTable .controls form {
  flex: 1;
}
.rdg-cell.rdg-cell-resizable {
  display: block !important;
}