/* customizations */

#celestial-form {
  display: none
}
.showform #celestial-form {
  padding-top: 200px;
  display: block;
  position: fixed;
  z-index: 10000;
  background-color: white;
  bottom: 0;
  right: 0;
  max-height: 50%;
  border: 1px solid #ccc;
  width: 750px;
  overflow: auto;
}
#map-section {
  position: relative;
}
#sky-map-controls-section {
position: absolute;
top: 0;
right:0;
}



