.app-container {
  display: flex;
}

.sidebar {
  height: 100vh;
  top: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  transition: 0.3s;
  background-color: white;
  color: black;
  z-index: 1000;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.close-btn {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  font-size: 2rem;
  cursor: pointer;
}
