body {
    background-color: rgb(241, 240, 240);
}
#root {
    height: 100vh;
}
.App {
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App-header {
  height: 100px;
    z-index: 100;

  margin: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.App main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}
#NeocpAsteroidsTable {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.position-controls {
  top: 0;
  right: 0;
}

.button-active {
  background-color: #006616;
  color: white;
}

