body {
    background-color: rgb(241, 240, 240);
}
#root {
    height: 100vh;
}
.App {
  height: 100%;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.App-header {
  height: 100px;
  z-index: 100;
  margin: 10px;
  margin-right: 200px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 1.5em;
  display: flex;
  margin: 10px;
  align-items: top;
  font-style: italic;
}
.App-header img {
  height: 120px;
  margin-right: 10px;
}

.App main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
#NeocpAsteroidsTable {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.position-controls {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  margin: 10px;
}

.button-active {
  background-color: #006616;
  color: white;
}

footer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
}